#box {
    background-color: #f00;
}

#div1 {
    height: 50px;
    background-color: #0f0;
    margin: 100px;
}

#div2 {
    height: 50px;
    background-color: #00f;
    margin: 100px;
}

#div3 {
    height: 50px;
    background-color: #ccc;
    margin: 20px;
}
#div4 {
    height: 50px;
    background-color: #fff;
    margin: 100px;
}

#boxmodal {
    width: 100px;
    height: 100px;
    border: 10px solid #000;
    padding: 20px;
    margin: 20px;
}